source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.3.4 lowest_matching:true
nuget FsPickler ~> 5.2 lowest_matching:true
nuget FsRandom >= 1.4.0.1 lowest_matching:true
nuget Persimmon ~> 4 lowest_matching:true

group Test
  source https://api.nuget.org/v3/index.json
  framework: netcoreapp2.0

  nuget FSharp.Core >= 4.5.0
  nuget Persimmon.TestAdapter = 0.11.0-beta1
  nuget Microsoft.NET.Test.Sdk

group Build
  source https://api.nuget.org/v3/index.json
  framework: net45

  nuget FAKE
  nuget FAKE.Persimmon
  nuget NuGet.CommandLine
  nuget SourceLink.Fake
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon.ico
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon_128.png

group Example
  source https://api.nuget.org/v3/index.json
  framework: auto-detect

  nuget CloudStructures
  nuget FSharp.Core >= 4.5.0
